body{
    margin: 0;
    padding: 0;
    background-image: url("/quiz/background.jpg");
    background-size: cover;
  
  
  }
  .carousel-container {
    margin: 5% auto;
    height: 70vh;
    width: 40%;
    /* border: 1px solid black; */
  }
  
  .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 40vh;
    padding: 10%;
    border: 1px solid #a81cd7;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 2px 2px 4px gray;
  }
  
  h2 {
    margin-bottom: 10px;
    color: rgb(93, 92, 92);
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin: 0 auto 20px;
    border: none;
    box-shadow: 1px 0px 2px gray;
    border: 2px solid #4d3a9e;
    border-radius: 10px;
  
  }
  
  .nav-buttons {
    width: 80%;
    margin: 40px auto 0;
    bottom: 10;
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(34, 34, 84);
    color: #fff;
    cursor: pointer;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  button:not(:last-child) {
    margin-right: 10px;
  }
  